<ion-view view-title="Your Grade">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Your Grade</span>
        <input type="text" ng-model="myGrade">
      </label>
      <button id="gradeSaveButton" class="button introbutton button-icon sensorDataButton" ng-click="gradeSave(myGrade)" ng-disabled="loginstatus"><i ng-show="loginstatus" class="icon ion-ios-checkmark-empty"></i>
                  Save
                </button>
    </div>
  </ion-content>
</ion-view>
