<ion-view view-title="Dreamwalker">
  <ion-content class="padding" style="padding-left:20px;padding-right:20px;">
     <div style="background: rgba(0,0,0,.50); padding:10px;margin-top:5px;">
    <h3 style="color:white;font-size:1.6em; font-weight:200;padding:0;margin:0;text-align:center;">Awesome tips here</h3>
    </div>
    <div style="margin-bottom:50px;color:white;font-size:1em;font-weight:200;text-align:center;margin-top:1px;">Estimated Grade: 1.3</div>
    <nvd3 options="vm.options" data="vm.data"></nvd3>
    <!--<button class="button button-block button-positive sensorDataButton" ng-click="sleep()">
      Sleep
    </button>
    <button class="button button-block button-positive sensorDataButton" ng-click="drink()">
      Drink
    </button>-->
    <div style="height:70px;"></div>
    <button id="drinkButton" class="button introbutton button-icon sensorDataButton" ng-click="drink()" ng-disabled="loginstatus"><i ng-show="loginstatus" class="icon ion-ios-checkmark-empty"></i>
                Drink
              </button>

    <button href="#/tab/nextView" id="sleepButton" class="button introbutton button-icon sensorDataButton" ng-click="sleep()" ng-disabled="loginstatus"><i ng-show="loginstatus" class="icon ion-ios-checkmark-empty"></i>
                Sleep
              </button>
  </ion-content>
</ion-view>
